// Основні кольори (основа сайту)
$color-background: #e1e2de;
$color-background-secondary: #aaada3;// світло-сірий/бежевий фон
$color-surface: #ffffff; // білий для контентних блоків
$color-foreground: #2c2c2c; // темний текст


$shadow-xs: 0 1px 2px rgba(0, 0, 0, 0.03);
$shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.05);
$shadow-md: 0 4px 8px rgba(0, 0, 0, 0.08);
$shadow-lg: 0 8px 16px rgba(0, 0, 0, 0.1);
$shadow-xl: 0 12px 24px rgba(0, 0, 0, 0.12);



$gray-light-color: rgb(168, 180, 199);
$gray-color: rgb(75 85 99);
$black-color: rgb(0, 0, 0);
$white-color: #fff;

// Акцентні
$color-primary: #3f3f3f; // глибокий сірий (для заголовків, логотипів)
$color-secondary: #a0a0a0; // сірий для вторинного тексту

// Декоративні / іконки
$color-line: #d0d0cc;
$color-muted: #999999;

// Шрифтові кольори
$font-color-base: $color-foreground;
$font-color-secondary: $color-secondary;
$font-color-inverted: #ffffff;

// Границі, роздільники
$border-color: #dcdcd6;

// Тіні
$box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.05);

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
