<div class="login">
  <h1 class="login__title">INTERIOR DESIGN CABINET</h1>
  <h2 class="login__subtitle">Premium interior design products platform</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login__form">
    <!-- <label>
      Email:
      <input type="email" formControlName="email" />
    </label> -->
    <app-custom-input formControlName="email" label="Email" placeholder="Enter your email" />
    <div
      *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
      class="error"
    >
      Email is required and must be valid.
    </div>

    <!-- <label>
      Password:
      <input type="password" formControlName="password" />
    </label> -->

    <app-custom-input formControlName="password" label="Password" placeholder="Enter your password" />
    <div
      *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
      class="error"
    >
      Password is required (min 6 chars).
    </div>
    <!-- <button type="submit" [disabled]="loginForm.invalid">Login</button> -->
    <app-custom-button type="submit" text="Login" />
  </form>
</div>
