<div class="register">
  <h1 class="register__title">INTERIOR DESIGN CABINET</h1>
  <h2 class="register__subtitle">Premium interior design products platform</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register__form">


    <app-custom-input formControlName="email" label="Email" placeholder="Enter your email" />
    <div
      *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
      class="error"
    >
      Email is required and must be valid.
    </div>

    <app-custom-input formControlName="firstName" label="First name" placeholder="Enter your first name" />
    <div
      *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched"
      class="error"
    >
      First name is required and must be valid.
    </div>

    <app-custom-input formControlName="lastName" label="Last name" placeholder="Enter your last name" />
    <div
      *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched"
      class="error"
    >
      Last name is required and must be valid.
    </div>

    <app-custom-input formControlName="password" label="Password" placeholder="Enter your password" />
    <div
      *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
      class="error"
    >
      Password is required (min 6 chars).
    </div>

    <app-custom-input formControlName="confirmPassword" label="Confirm passwprds" placeholder="Confirm your password" />
    <div
      *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched"
      class="error"
    >
      Diffeerent passwords
    </div>


    <app-custom-button type="submit" text="register" />
  </form>
</div>
